
header h1 {
  color: blueviolet;
  margin-top: 2px;
  text-align: center;
}
header {
  background-color: beige;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2px;
  width: 100%;
}

button:hover {
  color: blue;
 
}

.question-container {
    display: none;
}

#score-container {
    display: none;
}

main {
   text-align: center;
}
#timer {
  text-align: center;
}
#question {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
